[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
concurrent-log-handler = "*"
twine = "*"
fabric = "*"
paramiko = "*"
pexpect = "*"

[dev-packages]

[requires]
python_version = "3.9"
